<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>QR Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="pizza">
    <ion-segment-button value="pizza">
      <ion-label>Pizza</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pasta">
      <ion-label>Pasta</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
