<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Galería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      @for (photo of photos; track $index) {
      <ion-col size="6" sizeMd="3">
        <ion-img [src]="photo"></ion-img>
      </ion-col>
      }
    </ion-row>
  </ion-grid>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gallery</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePhoto()" onKeyPress="" onKeyDown="" onKeyUp="">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
